.button-center {
    display: block;
    margin: auto;
    width: 8rem;
}

.text-xs {
    white-space: nowrap;
}

@media (max-width: 840px) {
    .side-bar {
        margin-left: 0;
    }

    .text-xs {
        font-size: .75rem;
    }
}