.button-center {
    display: block;
    margin: auto;
    width: 8rem;
}

.text-xs {
    white-space: nowrap;
}

tr:nth-child(even) {
    background-color: rgb(33, 39, 53);
}

@media (max-width: 840px) {
    .side-bar {
        margin-left: 0;
    }

    .text-xs {
        font-size: .75rem;
    }
}

.centering{
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.logo{
    height: 5rem;
}

.logoText{
    font-size: 150%;
    color: white;
    font-weight: bold;
}

.logoCont{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}